*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    text-align: center;
    justify-content: center;
}
#principal{
    width: 60rem;
    height: 55rem;
    background-color: #ebe1c7;
    margin: 3rem auto;
    border-radius: 10px;
}
h1.title{
    padding-top: 2rem;
}
#content{
    width: 40rem;
    height: 38rem;
    background-color: #559447;
    margin: 4rem auto;
    border-radius: 100%;
}
button{
    width: 3rem;
    height: 3rem;
    border-style: none;
    border-radius: 100%;
    background-color: red;
    color:white;
    font-size: 2rem;
}
#red{
    position: absolute;
    margin-left: 25rem;
    margin-top: -1rem;
}
#carta img{
    width: 8rem;
    height: 10rem;
    margin-right: 45rem;
    margin-top: -30rem;
}
.cards{
    display: grid;
}