@font-face {
    font-family: "letra";
    src: url(img/654-font.otf);
}
video.video{
    margin-top: -5rem;
    width: 100%;
}
#caja1{
    position: absolute;
    display: flex;
    justify-content: center;
}
#titulo{
    position: relative;
    margin-top: -60em;
    margin-left: 34em;
}
#botones{
    display: flex;
    justify-content: center;
    background-color: aqua;
    margin-top: -25em;
    gap: 4em;
}
button{
    z-index: 10;
    background-color: #ff4655;
    width: 9em;
    height: 2.5em;
    color: white;
    border-style:  white;
    
}
#armas{
    border-radius: 0.5em;
    border: 1px  solid white;
    font-family: "letra";
    
}
#mapas{
    border-radius: 0.5em;
    border: 1px  solid white;
    font-family: "letra";
}
#agentes{
    border-radius: 0.5em;
    border: 1px  solid white;
    font-family: "letra";
}