@import "https://fonts.googleapis.com/css?family=Ubuntu:300,400,500";
@import "https://fonts.googleapis.com/css?family=Raleway:400";
*{
    margin: 0;
    padding: 0;
    font-family: "ubuntu";
}
body{
    background-color: #cecece;
}
#negro{
    background-color: #26282a;
    width: 100vw;
    height: 40vh;
}
#box-white{
    width: 80vw;
    height: 40vw;
    background-color: #fefefe;
    margin-left: 10vw;
    margin-top: -17vw;
    border: 1px solid rgb(173, 173, 173);
}
#box-gray{
    width: 79.9vw;
    height: 10vw;
    background-color: #f7f7f7;
    border: 1px solid rgb(173, 173, 173);
}
#photo{
    width: 12vw;
    height: 12vw;
    border: 1px solid rgb(173, 173, 173);
    background-color: white;
    border-radius: 100%;
    margin-left: 35vw;
    margin-top: -5vw;
}
#img img{
    width: 11vw;
    height: 11vw;
    border-radius: 100%;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
}

#text{
    text-align: center;
    margin-top: 2vw;
    font-size: 1.5vw;
    color: #999;
    font-weight: 300;
}
#negrita{
    text-align: center;
    font-size: 3vw;
}
#iconos{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    margin-left: 15vw;
    height: 4vw;
    overflow: hidden;
    margin-top: 7vw;
}
#user{
    background-image: url(./img/user.png);
    background-size: contain;
    width: 4vw;
    height: 13vw;
    margin-top: -4.2vw;
}
#email{
    background-image: url(./img/mail.png);
    width: 3.8vw;
    margin-top: -4vw;
    height: 10.3vw;
}
#birth{
    background-image: url(./img/birthday.png);
    width: 4vw;
    height: 13vw;
    margin-top: -4.3vw;
}
#location{
    background-image: url(./img/location.png);
    width: 4vw;
    height: 13vw;
    margin-top: -4.5vw;
}
#phone{
    background-image: url(./img/phone.png);
    width: 4vw;
    height: 13vw;
    margin-top: -4.5vw;
}
#pass{
    background-image: url(./img/password.png);
    width: 4vw;
    height: 13vw;
    margin-top: -4.5vw;
}
.icon:hover{
    transform: translateY(-3.6vw);
    transition: .2s;
}