*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(231, 224, 224);
}
#title{
    text-align: center;
    margin-top: 1vw;
    font-size: 3vw;
}
#Principal{
    width: 65vw;
    margin: 2vw auto;
    padding: 1vw;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 0 solid transparent;
}
#title2{
    margin-top: 2vw;
    font-size: 2vw;
    background-color: #f8bfcb;
    text-align: center;
}
h3{
    background-color: #ebeee5;
    text-align: center;
    font-size: 1vw;
    margin-top: 1vw;
}
label{
    
    display: flex;
    margin-left: 17vw;
    margin-top: 1vw;
}
input{
    justify-content: center;
    display: flex;
    margin-left: 23vw;
    width: 20vw;
    margin-top: vw;
}