
body{
    background: linear-gradient(#73bbf6,  #ebf5fd);
    background-repeat: no-repeat;
    width: 80vw;
    height: 60vw;
}
img{
    position: absolute;
    margin: 5vw 40vw;
}
button#next{
    position: absolute;
    z-index: 1;
    background-color: black;
    margin-left: 43vw;
    margin-top: 33vw;
    color: white;
    width: 6.6vw;
    height: 2.2vw;
    border-radius: 6px;
    background-color: #424242;
    
}
button#prev{
    position: absolute;
    z-index: 1;
    background-color: black;
    margin-left: 51vw;
    margin-top: 33vw;
    color: white;
    width: 6.6vw;
    height: 2.2vw;
    border-radius: 6px;
    background-color: #424242;
}
input{
    position: absolute;
    z-index: 1;
    margin-left: 43vw;
    margin-top: 27vw;
    width: 14.5vw;
    height: 2vw;
    border-radius: 6px;
}
