*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}
#principal{
    
    background: linear-gradient(#73bbf6,  #ebf5fd);
    width: 1400px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#fondo{
    width: 425px;
    height: 639px;
    background-image: url(img/pokedex.png);
}
#texto{
    display: flex;
    height: 50px;
    margin-left: 660px;
    margin-top: -320px;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}
p{
    color: black;
    margin-left: 5px;
}
#gif_poke{
    position: absolute;
    width: 200px;
    height: 130px;
    margin-top: -470px;
    margin-left: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gif_poke img{
    width: 90px;
    height: 90px;
}
#form{
    margin-left: 550px;
    margin-top: 20px;
}
input{
    width: 270px;
    height: 40px;
    border-radius: 7px;
    box-shadow: -3px 2px gray,
    -4px 6px black;
    padding-left: 12px;
}

#next{
    margin-left: 40px;
    margin-top: 80px;
    width: 125px;
    height: 40px;
    background-color: #424242;
}
button{
    box-shadow: -4px 3px 1px 1px #212221;
}
button:active{
    box-shadow: inset -4px 3px 1px 1px #212221;
}
#prev{
    margin-left: 540px;
    margin-top: 80px;
    width: 125px;
    height: 40px;
    background-color: #424242;
}