*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}
#principal{
    background: linear-gradient(#73bbf6,  #ebf5fd);
    width: 1400px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    width: 390px;
    height: 550px;
}
#texto{
    display: flex;
    margin-left: 690px;
    margin-top: -320px;
    font-size: 20px;
    font-weight: bold;
}
#gif_poke{
    position: absolute;
    width: 200px;
    height: 130px;
    margin-top: -470px;
    margin-left: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form{
    margin-left: 550px;
    margin-top: 50px;
}
input{
    width: 270px;
    height: 40px;
    border-radius: 7px;
}

#next{
    margin-left: 5px;
    margin-top: 60px;
    width: 125px;
    height: 40px;
    background-color: #424242;
}
button{
    box-shadow: -4px 3px 1px 1px #212221;
}
#prev{
    margin-left: 547px;
    margin-top: 60px;
    width: 125px;
    height: 40px;
    background-color: #424242;
}