body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 5vw;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    background-color: #f8bfcb;
}

form {
    margin-bottom: 4vw;
}

input {
    padding: 1vw;
    margin: 1vw 1vw;
    border: 0.2vw solid #ccc;
    border-radius: 4vw;
}

button {
    width: 20vw;
    padding: 1vw;
    background-color: #769ff5;
    margin-top: 2vw;
    color: white;
    border: none;
    border-radius: 4vw;
    cursor: pointer;
}

button:hover {
    background-color: #4b8bc2;
}

.product-item {
    background-color: #f9f9f9;
    margin-bottom: 1vw;
    padding: 4vw;
    border: 0.3vw solid #ddd;
    border-radius: 4px;
}

.product-item button {
    background-color: #769ff5;
    margin-top: 10px;
    width: 10vw;
}

.product-item button:hover {
    background-color: #4b8bc2;
}
